@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400;600&display=swap');

*{
box-sizing: border-box;
}
header{
    max-width: 500px;
    margin: 50px auto;    /* this margin helped alot into layout*/
    text-align: center;
}

h1{
    font-weight: 200;
    margin: 0;
    color: rgba(0,0,0,0.6);
}
h1:nth-child(2){
    font-weight: 600;
    color: rgba(0,0,55,0.6);
}
p{
    color: hsl(229, 6%, 66%);
}
body{
    font-family: "Poppins";
    background-color: #FAFAFA;
    font-size: 15px;
}
.container{
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
    max-width: 1140px;
    justify-content: center;
    margin-bottom: 50px;
}
.box{
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    padding: 30px;
    margin: 15px;
    width: 350px;  /*1140/3=350*/
    display: flex;
    flex-direction: column;
}
.box h3{
    margin: 0;
    font-size: 22px;
}
.box p{
    font-size: 15px;
    margin: 15px 0 30px;   /* notice this margin*/
    
}
.box:nth-child(1){
    border-top: 5px solid hsl(180, 62%, 55%);
}
.box:nth-child(2){
    border-top: 5px solid hsl(0, 78%, 62%);
}
.box:nth-child(3){
    border-top: 5px solid hsl(212, 86%, 64%);
}
.box:nth-child(4){
    border-top: 5px solid hsl(34, 97%, 64%);
}
.box img{
    align-self: end;
}

.box:nth-child(odd){
    transform: translateY(50%);
}

@media(max-width:775px){
    .box:nth-child(odd){
        transform: translateY(0);
    }
}
/* @media (max-width: 775px) is a part of a CSS media query. It is used to apply styles to a webpage when the viewport width (the width of the browser window) is equal to or less than 775 pixels. This is a common technique in responsive web design to create layouts that adapt to different screen sizes.For example, you might use this media query to make adjustments to the layout, font sizes, or other styles for smaller screens, like smartphones or tablets. */

footer {
    background-color: #333; 
    color: #fff; 
    text-align: center; 
    padding: 20px 0; 
        }

.attribution a {
    color: #fff; 
    text-decoration: none; 
    margin: 0 10px; 
    transition: color 0.3s; 
    
}

.attribution a:hover {
    color: #0077b5; }
